.wrapper {
  width: 100vw;
  height: 100vh;
  .main {
    height: 82vh;
    .main-wrapper {
      width: 85vw;
      height: 82vh;
      overflow: auto;
      padding: 10px 20px;
      .main-conatiner {
        display: block;
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 942px) {
  .header-logo {
    width: 187.198px;
  }
  .wrapper {
    .main {
      .main-wrapper {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 442px) {
  .header-logo {
    width: 157.198px;
  }
}
