/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/


.spinner{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10rem;
}


.skill {
        &-top {
                margin-top: 1.875rem;
        }

        &-row {
                margin-top: 1.25rem;
                width: 60%;

                border-radius: 1.25rem;
                height: fit-content;
        }

        &-color {
                font-size: large;
                font-weight: 500;
        }

        &-bg {
                margin-bottom: 0.625rem;
                // display: flex;
                // flex-direction: row;
        }

        &-img {
                height: 3.75rem;
                width: 3.75rem;
                box-shadow: 0px 0px 12px #0000000d;
                border-radius: 50%;
                padding: 5px;
                margin-left: 65px;

        }

        &-img>img {
                height: 100%;
                width: 100%;
                border-radius: 1.875rem;

        }
}

.progress {
        height: 0.937rem;
        border-radius: 1.25rem;
        margin: 5px 0px 5px 0px;
        &-value {
                margin-left: 0.3125rem;
        }
}



.tab-item-wrapper {
        margin-top: 2.81rem;
        text-align: center;
}

.view-more-link {
        color: #397ef5;
        cursor: pointer;
        margin-top: 30px;
}

.no-skill {
        padding-top: 1rem;
}
